.carousel-indicators > li {
  text-shadow: 2px 2px;
  background-color: #636363 !important;
}
.carousel-indicators > .active {
  background-color: #76b900 !important;
}

.carousel-control-next {
  top: 200px !important;
  position: absolute !important;
  height: 50px !important;
  width: 50px !important;
  border-radius: 50%;
  border-color: #ffffff;
  background-color: #00000049;
}
